.bgimg{
	background-image: url(pc6.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 660px; 
}

.headerset{
	 padding-top: 250px;
	 box-sizing: border-box;
}

.headerset h2{
	font-size: 42px;
}

.headerset h1{
	font-size: 62px;
}